doctype html
include /../../static/assets/lib/ldui/pug/ldui.pug
include posts.pug
html
  head
    meta(charset="utf-8")
    link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;700&display=swap",rel="stylesheet")
    +css("/assets/lib/bootstrap/4.3.1/css/bootstrap.min.css")
    +css("/assets/lib/ldui/ldui.min.css")
    +css("/css/index.min.css")
  body
    .w-1024.mx-auto.rwd.typeset.heading-contrast(style="padding:24px")
      .text-center.my-4.py-4
        h1.my-0.display-1: b 資料視覺化
        .text-muted infographics.tw
      .d-flex.justify-content-around.flex-wrap.posts
        each post in posts
          - var ret = /\d{4}\/\d{2}/.exec(post.url)
          a.mb-4.pb-4.d-block.post(href=post.url.replace(/www\./,''))
            .ldlz.w-100.aspect-ratio.ratio-3by2.bg-cover.bg-portrait.bg-light.mb-1(
            style=`background-image:url(${post.img})`)
            .mt-0.mb-1.text-truncate: b #{post.text}
            .mb-2.desc #{post.desc} ...
            hr.mt-1.py-0.mb-0
            .d-flex.my-0.text-muted.align-items-center
              .flex-grow-1.text-danger
                span #{ret}
              div
                each tag in post.tags
                  span.ml-2.text-sm #{tag}
        .post
        .post

    script Array.from(document.querySelectorAll('img')).map(function(it) { it.classList.add('ldlz'); });
    +script("/assets/lib/ldui/ldui.min.js")
      
